
<table class="table table-bordered mt-3">
    <thead class="thead-light">
        <tr>
        <td>No</td>
        <td>Companyname</td>
        <td>CompanyLocation</td>
        <td *appPermission="'edit'">Edit</td>
        <td *appPermission="'delete'">Delete</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Company of CompanyData;index as no">
            <td>{{no+1}}</td>
            <td>{{Company.comname}}</td>
            <td>{{Company.location}}</td>
            <td *appPermission="'edit'">
                <button class="btn btn-success" *appPermission="'edit'" (click)="Editdata(Company)">Edit</button>
            </td>
            <td *appPermission="'delete'">
                <button class="btn btn-success" (click)="DeleteCmp(no)" *appPermission="'delete'">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="form-box" *ngIf="flag">
    <input type="text" placeholder="UserName" [(ngModel)]="currentcompanyname">
    <input type="text" placeholder="Password" [(ngModel)]="currentcompanylocation">
    <button (click)="onUpdate()" class="btn btn-success">Update</button>
</div>
