<!-- <div class="container w-25 mt-5 pt-5">
    <div class="row mt-3">
      <div class="col-12">
        <h1 class="">UserLogin</h1>
      </div>
  </div>
         
    
         <div class="row mt-3">
              <div class="col-12">
                <input type="text" [(ngModel)]="userName" name="name" placeholder="Enter your name" class="form-control">
              </div>
          </div>
  
          <div class="row mt-3">
            <div class="col-12">
              <input type="password" [(ngModel)]="userPass" name="password" placeholder="Enter your password" class="form-control">
            </div>
        </div>
  
        <div class="row mt-5">
          <div class="col-12">
            <button type="button" class="btn btn-primary" (click)="login()" >Login</button>
          </div>
          
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <button type="button" class="btn btn-primary" (click)="SignUp()" >SignUp</button>
        </div>
       </div> 
    
  </div>  -->


<body>
  <section class="container">
    <div class="login-container">
      <div class="circle circle-one"></div>
      <div class="form-container">
        <img
          src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png"
          alt="illustration" class="illustration" />
        <h1 class="opacity">LOGIN</h1>
        <div class="form-wrapper">
          <input type="text" placeholder="USERNAME" [(ngModel)]="userName" />
          <input type="password" placeholder="PASSWORD" [(ngModel)]="userPass" />
          <button class="opacity" (click)="login()">SUBMIT</button>
        </div>
        <div class="register-forget opacity">
          <a href="">REGISTER</a>
          <a>FORGOT PASSWORD</a>
        </div>
      </div>
      <div class="circle circle-two"></div>
    </div>
    <div class="theme-btn-container"></div>
  </section>
</body>