
<table class="table table-bordered mt-3">
    <thead class="thead-light">
        <tr>
        <td>No</td>
        <td>BranchName</td>
        <td>TotalMember</td>
        <td *appPermission="'edit'">Edit</td>
        <td *appPermission="'delete'">Delete</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let branchdata of BranchMainData;index as no">
            <td>{{no+1}}</td>
            <td>
                {{branchdata.branchname}}
            </td>
            <td>{{branchdata.TotalMember}}</td>
            <td *appPermission="'edit'">
                <button class="btn btn-success" (click)="Editdata(branchdata)" >Edit</button>
            </td>
            <td *appPermission="'delete'">
                <button class="btn btn-success" (click)="DeleteBranch(no)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="form-box" *ngIf="flag">
    <input type="text" placeholder="UserName" [(ngModel)]="currentBranchName">
    <input type="text" placeholder="Password" [(ngModel)]="currentTotalMember">
    <button (click)="onHide()">Update</button>
</div>